@model IEnumerable<Ashray.Models.BedTypes>
@{
    ViewBag.Title = "BedTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Available <span class="text-danger">Bed Types</span></h2>

        <ol class="breadcrumb">
            <li>
                <a href="index">Home</a>
            </li>

            <li class="active">
                <strong>Bed Types</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br>

<div class="ibox-content">
    <div class="row">
        <div class="col-md-12" style="padding-left:20px;">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Available<span class="text-danger"> Beds</span> </h5>

                    </div>
					<div class="ibox-content">

						<table class="table">
							<tr>
								<th>
									@Html.DisplayNameFor(model => model.CenterName)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.Location)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.IsolationBed)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.Oxygen)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.ICUBed)
								</th>							
								<th>Registeration</th>
							</tr>

							@foreach (var item in Model)
							{
								<tr>
									<td>
										@Html.DisplayFor(modelItem => item.CenterName)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Location)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.IsolationBed)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Oxygen)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.ICUBed)
									</td>
									<td class="text-navy">
										<button class="btn btn-sm btn-primary pull-center m-t-n-xs"
												onClick="location.href='@Url.Action("PatientRegistration", "Home")'"
												type="submit">
											&nbsp;&nbsp;<strong>
												<i class="fa fa-login"></i>
												&nbsp;Register
											</strong>&nbsp;&nbsp;
										</button>
									</td>
								</tr>
							}
						</table>						
					</div>
                </div>
            </div>
        </div>
    </div>
</div>

