@model Ashray.Models.Registation
@{
    /**/

    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Create   <span class="text-danger"> Your Account</span></h2>
        <ol class="breadcrumb">
            <li>
                <a href="index-2.html">Home</a>
            </li>

            <li class="active">
                <strong>Registation Form</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br>

<div class="ibox-content">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="m-t-none m-b text-navy">Sign in</h3>
            @using (Html.BeginForm("Registration", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-lg-5"><label><em style="color:red"> *</em>&nbsp;Control Center Name:</label> </div>
                    <div class="col-lg-7">                        
                        @Html.TextBoxFor(m => m.ControlCentreName, new { @style = "position:relative", @class = "form-control",@required = "required", @title = "Please enter CentreName", @maxlength = "50", @id = "txtCentreName" })
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-5"><label class="control-label"><em style="color:red"> *</em>&nbsp;Person Name:</label>  </div>
                    <div class="col-lg-7">
                       
                        @Html.TextBoxFor(m => m.PersonName, new { @style = "position:relative", @class = "form-control",@required = "required", @title = "Please enter ContactPerson", @maxlength = "25", @id = "txtContactPerson" })
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-5"><label class="control-label"><em style="color:red"> *</em>&nbsp;Mobile Number:</label> </div>
                    <div class="col-lg-7">
                     
                        @Html.TextBoxFor(m => m.MobileNumber, new { @style = "position:relative", @class = "form-control",@required = "required", @title = "Please enter MobileNumber", @maxlength = "10", @id = "txtMobileNumber" })
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-lg-5"><label class="control-label">&nbsp;Email Address:</label>  </div>
                    <div class="col-lg-7">
                      
                        @Html.TextBoxFor(m => m.EmailAddress, new { @style = "position:relative", @class = "form-control",@required = "required", @title = "Please enter Email", @maxlength = "50", @id = "txtEmail" })
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-lg-5"><label class="control-label"><em style="color:red"> *</em>&nbsp;Password:</label>   </div>
                    <div class="col-lg-7">
                        @Html.PasswordFor(m => m.Password, new { @id = "Password", @class = "form-control", @title = "Password is required.", @autocomplete = "off" })
                       
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-lg-5"><label class=" control-label"><em style="color:red"> *</em>&nbsp;Confirm Password:</label>   </div>
                    <div class="col-lg-7">
                        @Html.Password("ConfUserPassword", "", new { @id = "ConfUserPassword", @class = "form-control", @title = "Conf. Password is required.", @onblur = "User.prototype.confPasswordBlur();", @required = "required", @autocomplete = "off" })
                        
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-lg-5"><label class="control-label">State</label>   </div>
					<div class="col-lg-7">
						@Html.DropDownList("StateDropDown", new List<SelectListItem>
                        {
	                        new SelectListItem{ Text= "Telangana", Value = "1" },
                        })
					
					</div>
                </div><br>
                <div class="row">
                    <div class="col-lg-5"><label class=" control-label"><em style="color:red"> *</em>&nbsp;Location:</label>     </div>
					<div class="col-lg-7">
						@Html.DropDownList("LocationDropDown", new List<SelectListItem>
                        {
	                         new SelectListItem{ Text = "Select Location", Value = "0" },
	                         new SelectListItem{ Text = "Hitech City", Value = "1" },
	                         new SelectListItem{ Text = "Kondapur ", Value = "2" },
                        })						
					</div>
                </div><br>               
                <div class="row">
                    <div class="col-lg-5"><label class=" control-label"><em style="color:red"> *</em>&nbsp;Bed Count:</label>     </div>
                    <div class="col-lg-7">
                        @Html.TextBoxFor(m => m.BedCount, new { @class = "form-control",@style = "position:relative", @required = "required", @title = "Please enter BedCount", @maxlength = "50", @id = "txtBedCount" })                        
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-12">
                        <div class="i-checks"><label> <input type="checkbox" value=""> <i></i>   I have read and agree to the <a href="#">Terms and Conditions </a></label></div>

                        <input class="btn btn-sm btn-primary pull-Center m-t-n-xs" type="submit"><strong>Create My Account</strong>
                    </div>
                </div>
            }

        </div>
        <div class="col-sm-8">
        </div>
    </div>
</div>

