@model Ashray.Models.VaccinationModel
@{
    ViewBag.Title = "vaccinationSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ibox-content">
    <div class="row">
        <div class="modal-body">
            @ViewBag.Result
        </div>
        <h5 class="m-t-none m-b text-navy" style="text-align: center;">We are Here to Here - Realpage Vaccination drive comes to you to ensure you and your family safity !!</h5>
        @using (Html.BeginForm("SaveVaccineDetails", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nameoftheperson">Employee ID</label>
                        @Html.TextBoxFor(m => m.EmpCode, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "nameoftheperson" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="currentlocation">Current Location</label>
                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "currentlocation" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Are you Vaccinated ?</label>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="areyouvaccinatedyes">Yes</label>
                            <input class="form-check-input" type="radio" name="areyouvaccinated" id="areyouvaccinatedyes" value="yes" checked="checked" onchange="changeAreYouVaccinatedYes()">
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="areyouvaccinatedyes">No</label>
                            <input class="form-check-input" type="radio" name="areyouvaccinated" id="areyouvaccinatedno" value="no" onchange="changeAreYouVaccinatedNo()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row vaccinatedNo" id="vaccinatednoblock" style="display:none">
                <div class="questions">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="feedingmother">Reasons for Not Being Vaccinated</label>
                                @Html.DropDownListFor(m=>m.ReasonforVacc, new List<SelectListItem>
                                {
                                     new SelectListItem{ Text="FeedingMother", Value = "FeedingMother" },
                                     new SelectListItem{Text="Recently Tested Covid +ve", Value="RecentlyTestedCovid"},
                                      new SelectListItem{Text="Vaacine Hesitancy", Value="VaacineHesitancy"},
                                       new SelectListItem{Text="Avaliablity", Value="Avaliablity"}
                                }, "Please select", new { @class = "form-control col-md-4 controlWidth", @required = "required" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="areyouwillingtogetvaccine">Are You Willing To Get Vaccinated</label>
                            @Html.DropDownListFor(m=>m.WillingToVaccine, new List<SelectListItem>
                                 {
                                 new SelectListItem{ Text="Yes", Value = "True"},
                                 new SelectListItem{Text="No", Value = "False" }
                                 }, "Please select", new { @class = "form-control col-md-4 controlWidth", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4" id="nearestclusterblock">
                        <div class="form-group">
                            <label for="nearestcluster">Nearest Cluster</label>
                            @Html.DropDownListFor(m=>m.NearestCluster, new List<SelectListItem>
                                    {
                                         new SelectListItem{ Text="Vijayawada ", Value = "Vijayawada" },
                                         new SelectListItem{Text="Rajahmundry ", Value="Rajahmundry "},
                                          new SelectListItem{ Text="Vizag", Value = "Vizag" },
                                           new SelectListItem{ Text="Kadapa", Value = "Kadapa" },
                                            new SelectListItem{ Text="Anantapur ", Value = "Anantapur" },
                                             new SelectListItem{ Text="Nizamabad", Value = "Nizamabad" },
                                              new SelectListItem{ Text="Khammam", Value = "Khammam" },
                                               new SelectListItem{ Text="Hanamkonda ", Value = "Hanamkonda" },
                                                new SelectListItem{ Text="Karimnagar", Value = "Karimnagar" }
                                    }, "Please select", new { @class = "form-control col-md-4 controlWidth", @required = "required" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row personDetails">
                <div class="col-md-12 person1">
                    @for (int j = 0; j < Model.EmpVaccineDetails.Count; j++)
                    {
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="nameoftheperson1">Name of the person</label>
                                @Html.TextBoxFor(i => Model.EmpVaccineDetails[j].PersonName, new { @class = "form-control", @style = "position:relative", @title = "Please enter PatientName", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="dateofvaccination1">Date of Vaccination</label>
                                @Html.TextBoxFor(i => Model.EmpVaccineDetails[j].DateOfVaccination, new { type = "date", @value = DateTime.Now.ToShortDateString(), @class = "form-control", @style = "position:relative", @title = "Please select CheckInTime", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="doseTeken1">Dose Taken</label>
                                @Html.DropDownListFor(i => Model.EmpVaccineDetails[j].DoseTaken, new List<SelectListItem>
                                       {
                                            new SelectListItem{ Text="1st", Value = "1" },
                                            new SelectListItem{Text="2nd", Value="2"}
                                       }, "Please select", new { @class = "form-control col-md-4 controlWidth" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="vaccinename1">Vaccine Name</label>
                                @Html.DropDownListFor(i => Model.EmpVaccineDetails[j].VaccineName, new List<SelectListItem>
                                       {
                                            new SelectListItem{ Text="Covisheild", Value = "1" },
                                            new SelectListItem{Text="Covaxine", Value="2"}
                                       }, "Please select", new { @class = "form-control col-md-4 controlWidth" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="relation1">Relation</label>
                                @Html.TextBoxFor(i => Model.EmpVaccineDetails[j].Relation, new { @class = "form-control", @style = "position:relative", @title = "Please enter PatientName", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="duedate1">Due Date</label>
                                @Html.TextBoxFor(i => Model.EmpVaccineDetails[j].DueDate, new { type = "date", @value = DateTime.Now.ToShortDateString(), @class = "form-control", @style = "position:relative", @title = "Please select CheckInTime", @maxlength = "50" })
                            </div>
                        </div>
                    }
                </div>
            </div>
            <button class="btn btn-md btn-primary pull-right m-t-n-xs" type="submit"><strong> Submit </strong></button>
        }
    </div>
</div>


@Scripts.Render("~/Scripts/vaccinationSurvey.js")