@model Ashray.Models.VaccinationModel
@{
    ViewBag.Title = "vaccinationSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ibox-content">
    <div class="row">
        <h5 class="m-t-none m-b text-navy" style="text-align: center;">We are Here to Here - Realpage Vaccination drive comes to you to ensure you and your family safity !!</h5>
        <form>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nameoftheperson">Name of the person</label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "nameoftheperson" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="currentlocation">Current Location</label>
                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "currentlocation" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Are you Vaccinated ?</label>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="areyouvaccinatedyes">Yes</label>
                            <input class="form-check-input" type="radio" name="areyouvaccinated" id="areyouvaccinatedyes" value="yes" checked="checked" onchange="changeAreYouVaccinatedYes()">
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="areyouvaccinatedyes">No</label>
                            <input class="form-check-input" type="radio" name="areyouvaccinated" id="areyouvaccinatedno" value="no" onchange="changeAreYouVaccinatedNo()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row vaccinatedNo" id="vaccinatednoblock" style="display:none">
                <div class="questions">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="feedingmother">Feeding Mother</label>
                                    @Html.DropDownList("feedingmother", new List<SelectListItem>
                                    {
                                         new SelectListItem{ Text="Yes", Value = "1" },
                                         new SelectListItem{Text="No", Value="0"}
                                    }, "Please select", new { @class = "form-control col-md-4 controlWidth", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="covidpositivecheck">Covid +ve Check</label>
                                @Html.DropDownList("covidpositivecheck", new List<SelectListItem>
                                    {
                                         new SelectListItem{ Text="Yes", Value = "1" },
                                         new SelectListItem{Text="No", Value="0"}
                                    }, "Please select", new { @class = "form-control col-md-4 controlWidth", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="vaccineinfections">Vaccine -Infections</label>
                                @Html.DropDownList("vaccineinfections", new List<SelectListItem>
                                    {
                                         new SelectListItem{ Text="Yes", Value = "1" },
                                         new SelectListItem{Text="No", Value="0"}
                                    }, "Please select", new { @class = "form-control col-md-4 controlWidth", @required = "required" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="areyouwillingtogetvaccine">Are You Willing To Get Vaccine</label>
                            @Html.DropDownList("areyouwillingtogetvaccine", new List<SelectListItem>
                                   {
                                        new SelectListItem{ Text="Yes", Value = "1" },
                                        new SelectListItem{Text="No", Value="0"}
                                   }, "Please select", new { @class = "form-control col-md-4 controlWidth", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4" id="nearestclusterblock" style="display:none">
                        <div class="form-group">
                            <label for="nearestcluster">Nearest Cluster</label>
                            <select id="nearestcluster" class="form-control">
                                <option selected>Choose...</option>
                                <option>Choose... 1</option>
                                <option>Choose... 2</option>
                                <option>Choose... 3</option>
                                <option>Choose... 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="tentativedate">Tentative Date :</label>
                            @Html.TextBoxFor(m => m.TentitiveDate, new { type = "date", @value = DateTime.Now.ToShortDateString(), @class = "form-control col-md-4 controlWidth", @style = "position:relative", @required = "required", @title = "Please select CheckInTime", @maxlength = "50", @id = "tentativedate" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row personDetails">
                <div class="col-md-12 person1">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="nameoftheperson1">Name of the person</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "nameoftheperson1" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dateofvaccination1">Date of Vaccination</label>
                            @Html.TextBoxFor(m => m.VaccinatedDate, new { type = "date", @value = DateTime.Now.ToShortDateString(), @class = "form-control", @style = "position:relative", @required = "required", @title = "Please select CheckInTime", @maxlength = "50", @id = "dateofvaccination1" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="doseTeken1">Dose Taken</label>
                            @Html.TextBoxFor(m => m.DoseTaken, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "DoseTaken1" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="vaccinename1">Vaccine Name</label>
                            @Html.TextBoxFor(m => m.VaccineName, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "VaccinationName1" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="relation1">Relation</label>
                            @Html.TextBoxFor(m => m.Relation, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "Relation1" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="duedate1">Due Date</label>
                            @Html.TextBoxFor(m => m.VaccinatedDate, new { type = "date", @value = DateTime.Now.ToShortDateString(), @class = "form-control", @style = "position:relative", @required = "required", @title = "Please select CheckInTime", @maxlength = "50", @id = "DueDate1" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 person2">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="nameoftheperson1">Name of the person</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "nameoftheperson2" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dateofvaccination1">Date of Vaccination</label>
                            @Html.TextBoxFor(m => m.VaccinatedDate, new { type = "date", @value = DateTime.Now.ToShortDateString(), @class = "form-control", @style = "position:relative", @required = "required", @title = "Please select CheckInTime", @maxlength = "50", @id = "dateofvaccination2" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="doseTeken1">Dose Taken</label>
                            @Html.TextBoxFor(m => m.DoseTaken, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "DoseTaken2" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="vaccinename1">Vaccine Name</label>
                            @Html.TextBoxFor(m => m.VaccineName, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "VaccinationName2" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="relation1">Relation</label>
                            @Html.TextBoxFor(m => m.Relation, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "Relation2" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="duedate1">Due Date</label>
                            @Html.TextBoxFor(m => m.VaccinatedDate, new { type = "date", @value = DateTime.Now.ToShortDateString(), @class = "form-control", @style = "position:relative", @required = "required", @title = "Please select CheckInTime", @maxlength = "50", @id = "DueDate2" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 person3">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="nameoftheperson1">Name of the person</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "nameoftheperson3" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dateofvaccination1">Date of Vaccination</label>
                            @Html.TextBoxFor(m => m.VaccinatedDate, new { type = "date", @value = DateTime.Now.ToShortDateString(), @class = "form-control", @style = "position:relative", @required = "required", @title = "Please select CheckInTime", @maxlength = "50", @id = "dateofvaccination3" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="doseTeken1">Dose Taken</label>
                            @Html.TextBoxFor(m => m.DoseTaken, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "DoseTaken3" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="vaccinename1">Vaccine Name</label>
                            @Html.TextBoxFor(m => m.VaccineName, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "VaccinationName3" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="relation1">Relation</label>
                            @Html.TextBoxFor(m => m.Relation, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "Relation3" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="duedate1">Due Date</label>
                            @Html.TextBoxFor(m => m.VaccinatedDate, new { type = "date", @value = DateTime.Now.ToShortDateString(), @class = "form-control", @style = "position:relative", @required = "required", @title = "Please select CheckInTime", @maxlength = "50", @id = "DueDate3" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 person4">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="nameoftheperson1">Name of the person</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "nameoftheperson4" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dateofvaccination1">Date of Vaccination</label>
                            @Html.TextBoxFor(m => m.VaccinatedDate, new { type = "date", @value = DateTime.Now.ToShortDateString(), @class = "form-control", @style = "position:relative", @required = "required", @title = "Please select CheckInTime", @maxlength = "50", @id = "dateofvaccination4" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="doseTeken1">Dose Taken</label>
                            @Html.TextBoxFor(m => m.DoseTaken, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "DoseTaken4" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="vaccinename1">Vaccine Name</label>
                            @Html.TextBoxFor(m => m.VaccineName, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "VaccinationName4" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="relation1">Relation</label>
                            @Html.TextBoxFor(m => m.Relation, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "Relation4" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="duedate1">Due Date</label>
                            @Html.TextBoxFor(m => m.VaccinatedDate, new { type = "date", @value = DateTime.Now.ToShortDateString(), @class = "form-control", @style = "position:relative", @required = "required", @title = "Please select CheckInTime", @maxlength = "50", @id = "DueDate4" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 person5">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="nameoftheperson1">Name of the person</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "nameoftheperson5" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dateofvaccination1">Date of Vaccination</label>
                            @Html.TextBoxFor(m => m.VaccinatedDate, new { type = "date", @value = DateTime.Now.ToShortDateString(), @class = "form-control", @style = "position:relative", @required = "required", @title = "Please select CheckInTime", @maxlength = "50", @id = "dateofvaccination5" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="doseTeken1">Dose Taken</label>
                            @Html.TextBoxFor(m => m.DoseTaken, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "DoseTaken5" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="vaccinename1">Vaccine Name</label>
                            @Html.TextBoxFor(m => m.VaccineName, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "VaccinationName5" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="relation1">Relation</label>
                            @Html.TextBoxFor(m => m.Relation, new { @class = "form-control", @style = "position:relative", @required = "required", @title = "Please enter PatientName", @maxlength = "50", @id = "Relation5" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="duedate1">Due Date</label>
                            @Html.TextBoxFor(m => m.VaccinatedDate, new { type = "date", @value = DateTime.Now.ToShortDateString(), @class = "form-control", @style = "position:relative", @required = "required", @title = "Please select CheckInTime", @maxlength = "50", @id = "DueDate5" })
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-md btn-primary pull-right m-t-n-xs" type="submit"><strong> Submit </strong></button>
        </form>
    </div>
</div>


@Scripts.Render("~/Scripts/vaccinationSurvey.js")