@model Ashray.Models.HomeDashboard
@{
    ViewBag.Title = "Home Page";
}
<script>
</script>
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-5" style="padding:0px 5px 0px 10px;">
                <div class="ibox float-e-margins" style="margin:5px; padding:0px;">
                    <div class="ibox-title" style="background:#1A7BB9; color:#fff;">
                        <h5>Avaliable Doctors </h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group"><label>Doctor</label> <input value="Dr.Chinna Babu" disabled class="form-control" type="text"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group"><label>Doctor</label> <input value="Dr.Pramela" disabled class="form-control" type="text"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group"><label>Doctor</label> <input value="Dr.Misbah" disabled class="form-control" type="text"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group"><label>Doctor</label> <input value="Dr.Harish" disabled class="form-control" type="text"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-12" style="padding:0px 10px; margin:5px;">
                        <div class="widget style1 red-bg p-lg text-center" style="padding:11px; margin:3px;">
                            <div class="row">
                                <div class="col-xs-4 text-left">
                                    <i class="fa fa-bed fa-4x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span>TOTAL BEDS </span>
                                    <h2 class="font-bold">@Model.TotalBeds</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="padding:0px 10px; margin:5px;">
                        <div class="widget style1 navy-bg" style="padding:11px; margin:3px;">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-hospital-o fa-4x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span> AVAILABLE BEDS </span>
                                    <h2 class="font-bold">@Model.AvailableBeds</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="padding:0px 10px; margin:5px;">
                        <div class="widget style1 lazur-bg" style="padding:11px; margin:3px;">

                            <div class="row">
                                <div class="col-xs-2 text-left">
                                    <i class="fa fa-envelope-o fa-4x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <span>RECOVERED / DISCHARGED </span>
                                    <h2 class="font-bold">@Model.Recovered</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="padding:0px 10px; margin:5px;">
                        <div class="widget style1 yellow-bg" style="padding:11px; margin:3px;">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-male fa-4x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span>Total no.of Males</span>
                                    <h2 class="font-bold">@Model.MaleCount</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-12" style="padding:0px 10px; margin:5px;">
                        <div class="widget style1 red-bg p-lg text-center" style="padding:11px; margin:3px;">
                            <div class="row">
                                <div class="col-xs-4 text-left">
                                    <i class="fa fa-folder fa-4x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span>Discharges FTD</span>
                                    <h2 class="font-bold">@Model.DischargedCount</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="padding:0px 10px; margin:5px;">
                        <div class="widget style1 navy-bg" style="padding:11px; margin:3px;">
                            <div class="row">
                                <div class="col-xs-2 text-left">
                                    <i class="fa fa-folder-open fa-4x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <span>Admissions FTD </span>
                                    <h2 class="font-bold">@Model.AdmittedCount</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="padding:0px 10px; margin:5px;">
                        <div class="widget style1 lazur-bg" style="padding:11px; margin:3px;">
                            <div class="row">
                                <div class="col-xs-2 text-left">
                                    <i class="fa fa-tasks fa-4x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <span>Total Admissions till Date </span>
                                    <h2 class="font-bold">@Model.TotalAdmissions</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="padding:0px 10px; margin:5px;">
                        <div class="widget style1 yellow-bg" style="padding:11px; margin:3px;">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-female fa-4x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span>Total no.of Females</span>
                                    <h2 class="font-bold">@Model.FemaleCount</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12">

                <div>
                    <div class="col-lg-12" style=" padding:10px 10px 10px 0px;">
                        <div class="table-bed-details" style="background: white;overflow-y: auto;max-height: 475px;">
                            <table class="table table-striped">
                                <thead class="bg-success">
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => @Model.PatientDashboard[0].RoomNumber)</th>
                                        <th>@Html.DisplayNameFor(model => @Model.PatientDashboard[0].PatientName)</th>
                                        <th>@Html.DisplayNameFor(model => @Model.PatientDashboard[0].Gender)</th>
                                        <th>@Html.DisplayNameFor(model => @Model.PatientDashboard[0].PositiveDate)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PatientDashboard)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RoomNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PatientName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Gender)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PositiveDate)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

    </div>
</div>